<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Thursday_Lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>servlet.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_data</display-name>
    <servlet-name>Delete_data</servlet-name>
    <servlet-class>servlet.Delete_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_data</servlet-name>
    <url-pattern>/Delete_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch_data</display-name>
    <servlet-name>Fetch_data</servlet-name>
    <servlet-class>servlet.Fetch_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch_data</servlet-name>
    <url-pattern>/Fetch_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetching_data</display-name>
    <servlet-name>Fetching_data</servlet-name>
    <servlet-class>servlet.Fetching_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetching_data</servlet-name>
    <url-pattern>/Fetching_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_class</display-name>
    <servlet-name>Update_class</servlet-name>
    <servlet-class>servlet.Update_class</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_class</servlet-name>
    <url-pattern>/Update_class</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_div</display-name>
    <servlet-name>Update_div</servlet-name>
    <servlet-class>servlet.Update_div</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_div</servlet-name>
    <url-pattern>/Update_div</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First_name</display-name>
    <servlet-name>First_name</servlet-name>
    <servlet-class>servlet.First_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First_name</servlet-name>
    <url-pattern>/First_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Middle_name</display-name>
    <servlet-name>Middle_name</servlet-name>
    <servlet-class>servlet.Middle_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Middle_name</servlet-name>
    <url-pattern>/Middle_name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Last_name</display-name>
    <servlet-name>Last_name</servlet-name>
    <servlet-class>servlet.Last_name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Last_name</servlet-name>
    <url-pattern>/Last_name</url-pattern>
  </servlet-mapping>
</web-app>